/* #search{
    color: white;
} */



#rss{
    color:purple;
    margin-top: 50px;
    margin-bottom:50px;
    text-align:center;
}

#contact h2{
    color:#3190B0;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    
}

#contact{
      color: black;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif ;
    
}
#contactForm{
    margin-top:50px;
    margin-bottom:50px;
}
#collegeInfo {
    color: #3190B0;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
}


#menu{ 
  padding-right: 15%;
  padding-left: 15%;
  margin-top:100px;
  height:550px;
    
 } 
.menuContainer {
  /*margin-right: auto;*/
  margin: auto;
  background-image: url("../img/education.png"); 
  height:100%;
}

.IMGContainer {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .IMGcontainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .IMGcontainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .IMGcontainer {
    width: 1170px;
  }
}

#submitCollege{
    color: white;
    background-image: url("../img/blur2.png"); 
    font-weight: bold;
    border-radius: 10px;
    width: auto;
}


#map{
    color:orange;
    min-height:600px;
    width:auto;
    /*margin-top:100px;*/
    /*margin-bottom:50px;*/
    margin:4%;    /*
    For shadow behind map */
    background-color:#CCC;
    position:relative;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}


#homeStyle{
    color:#3190B0;
    text-decoration:none; 
    font-family:'Times New Roman', serif;
    font-size: 20px;
}

#locationStyle{
    color:#3190B0;
    text-decoration:none; 
    font-family:'Times New Roman', serif;
    font-size: 20px;
}

#cListStyle{
    color:#3190B0;
    text-decoration:none; 
    font-family:'Times New Roman', serif;
    font-size: 20px;
}

#contactStyle{
    color:#3190B0;
    text-decoration:none; 
    font-family:'Times New Roman', serif;
    font-size: 20px;
}

#FAFFooter{
    color: grey;
    text-decoration:none; 
    font-family:'Times New Roman', serif;
    font-size: 25px;
    margin-bottom:6%;
    margin-top:3%;
}

#collegeForm{
    margin-bottom:100px;
    position:relative;
    top:50px;
}

/*@media screen and(max-width:480px){*/
/*    #menu{*/
/*        float:none;*/
/*    }*/
    /* #menuHeader{
        float: none;
    }
    #inputs{
        width:auto;
        height: auto;
    } */
/*}*/


