/* #search{
    color: white;
} */



#rss{
    color:purple;
    margin-top: 50px;
    margin-bottom:50px;
    text-align:center;
}

#contact h2{
    color:#3190B0;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    
}

#contact{
      color: black;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif ;
    
}
#contactForm{
    margin-top:50px;
    margin-bottom:50px;
}
#collegeInfo {
    color: #3190B0;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
}


#menu{ 
/*    text-align: center;*/
/*    font-size: 17px;*/
/*    margin-bottom:30px;*/
/*    border: 1px solid black; */
/*    height: auto;*/
    color: white;
/*    font-family:'Times New Roman', serif;*/
/*    margin-top: 50px;*/
/*    padding: 0;*/
/*    width: 70%;*/
/*    background-color: orange;*/
  padding-right: 15%;
  padding-left: 15%;
  margin-top:100px;
    
 } 
.menuContainer {
  /*margin-right: auto;*/
  margin: auto;
  background-image: url("../img/education.png"); 
  height:100%;
}

.IMGContainer {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .IMGcontainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .IMGcontainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .IMGcontainer {
    width: 1170px;
  }
}

/*#menuHeader{*/
/*    min-height: 370px;*/
/*    width: 30%;*/
/*    background-image: url("../img/menuIMG.png");*/
/*    color: white;*/
/*    float: left;*/
/*    position: relative;*/
/*    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;*/
   
/*}*/

/* #inputs{*/
/*    height: auto;*/
/*    width:60%;*/
/*    left:60px;*/
/*    position: relative;*/
/*    float: left;*/
/*    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;*/
/*    background-color: #43567F;*/
/*    text-shadow: 1px 1px 2px black; */
    
/*}*/

/*#inputs input {*/
/*        width: auto;*/
/*        clear: both;*/
/*        float: right;*/
/*         top: 60px; */
/*        right: 5%;*/
/*        position: relative;*/
/*        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif ;*/
/*    }*/



#submitCollege{
    color: white;
    background-image: url("../img/blur2.png"); 
    font-weight: bold;
    border-radius: 10px;
    width: auto;
}


#map{
    color:orange;
    min-height:600px;
    width:auto;
    /*margin-top:100px;*/
    /*margin-bottom:50px;*/
    margin:4%;    /*
    For shadow behind map */
    background-color:#CCC;
    position:relative;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}
/* #img2{
    margin-top: 50px;
} */

#homeStyle{
    color:#3190B0;
    text-decoration:none; 
    font-family:'Times New Roman', serif;
    font-size: 20px;
    /*float: left;*/
    /*left: 20%;*/
    /*position: absolute;*/
    /*z-index: 6;*/
    /*top: 50%;*/
}

#locationStyle{
    color:#3190B0;
    text-decoration:none; 
    font-family:'Times New Roman', serif;
    font-size: 20px;
    /*float: left;*/
    /*left: 38%;*/
    /*position: absolute;*/
    /*z-index: 6;*/
    /*top: 50%;*/
}

#cListStyle{
    color:#3190B0;
    text-decoration:none; 
    font-family:'Times New Roman', serif;
    font-size: 20px;
    /*float: right;*/
    /*right: 38%;*/
    /*position: absolute;*/
    /*z-index: 6;*/
    /*top: 50%;*/
}

#contactStyle{
    color:#3190B0;
    text-decoration:none; 
    font-family:'Times New Roman', serif;
    font-size: 20px;
    /*float: right;*/
    /*right:20%;*/
    /*position: absolute;*/
    /*z-index: 6;*/
    /*top: 50%;*/
}

#FAFFooter{
    color: grey;
    text-decoration:none; 
    font-family:'Times New Roman', serif;
    font-size: 25px;
    margin-bottom:6%;
    margin-top:3%;
}

#collegeForm{
    margin-bottom:100px;
    position:relative;
    top:50px;
}

/*@media screen and(max-width:480px){*/
/*    #menu{*/
/*        float:none;*/
/*    }*/
    /* #menuHeader{
        float: none;
    }
    #inputs{
        width:auto;
        height: auto;
    } */
/*}*/


